h1 {
    font-family: 'Alegreya SC', 'Times New Roman', Times, serif;
    font-weight: 500;
}

p {
    font-family: 'Alegreya', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.bird-btn {
    margin: 15px;
    border: none;
    background-color: #fff;
}

.bird-btn-img {
    width: 100px;
    height: 100px;
    border-radius: 15;
}

.search-params {
    width: 1100px;
    margin: 0 auto;
}

.search-params form {
    border-radius: 6px;
    background: #faeff0;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    width: 360px;
    margin: 0px 25px 0px 0px;
    padding: 35px 15px 15px 15px;
    float: left;
}